@import '../Vars.scss';

.about {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;


  .title{
    font-size: 40px;
  
  }
  .image{
    width: 40%;
    aspect-ratio: 1;
  }
}
