@import '../Vars.scss';

.about {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $white;
  color: $black;
  padding: 100px 0px;

  .content {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60%;

    .title {
      opacity: 0;
      font-size: 40px;
      line-height: 78px;
      width: 100%;
      height: 100%;
    }

    .copy {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      line-height: 72px;
      font-size: 32px;

      .line {
        position: relative;
        display: flex;
        flex-direction: row;
      }
    }
  }

  .right-image {
    width: 40vw;
    height: 100vh;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //ANIMATIONS
  .top-slider {
    z-index: 1;
    background: $blue-dark;
    width: 33%;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }
}
