@import '../Vars.scss';
@import '../Media.scss';

.about {
  display: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $white;
  color: $black;
  padding: 0px 100px;
  .content {
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .left-content {
      padding: 100px 0px;
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: left;

      .circular-image{
        display: none;
      }

      .title {
        opacity: 0;
        font-size: 40px;
        line-height: 78px;
        margin-bottom: 50px;
      }

      .copy {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 72px;
        font-size: 28px;

        .line {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  
  .right-image {
    width: 40%;
    height: 100%;
    position: relative;

    .shape {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 100vh solid $white;
      border-right: 150px solid transparent;
    }
    .wrapper {
      height: 100%;
      width: 45vw;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow-y: visible;
      }
    }
  }

  //ANIMATIONS
  .top-slider {
    z-index: 1;
    background: $blue-dark;
    width: 33%;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 1280px) {
  .about {
    padding: 0px 50px;
    .content {
      .left-content {
        .title {
          font-size: 36px;
          line-height: 78px;
        }

        .copy {
          font-size: 24px;
          line-height: 56px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    .content {
      .left-content {
        width: 100%;
        justify-content: space-between;
        .title {
          font-size: 32px;
          line-height: 56px;
        }

        .copy {
          font-size: 3.5vw;
          line-height: 56px;
        }
        // .circular-image{
        //   display: flex;
        //   width: 150px;
        //   height: 150px;
        //   align-self: center;
        //   img{
        //     width: 100%;
        //     height: 100%;
        //     object-fit: contain;
        //   }
        // }
      }
      .right-image {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    height: 700px;
    padding: 0px 20px;
    .content {
      .left-content {
        .title {
          font-size: 8vw;
          line-height: 20vw;
        }

        .copy {
          font-size: 3.5vw;
          line-height: 10vw;
        }
      }
    }
  }
}
