@import '../Vars.scss';

.knowledge {
  width: 100vw;
  margin: 0;
  background-color: $black;
  color: $white;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .content {
    max-width: 1440px;
    display: flex;
    flex-direction: column;

    .knw_title {
      color: $white;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 50px;
    }

    .subtitle {
      font-size: 24px;
      color: $white;
      margin: 50px 0px;
    }

    .knowledge-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 150px;
      justify-content: space-between;
      row-gap: 200px;
      padding-bottom: 100px;
    }

    .item {
      width: 275px;
      opacity: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .container {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        .image {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .text {
        font-size: 32px;
        margin-left: 25px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .knowledge {
    padding: 100px 50px;

    .content {
      .subtitle {
        font-size: 18px;
      }

      .content {
        column-gap: 75px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .knowledge {
    .content {
      .knowledge-container {
        column-gap: 20px;
        row-gap: 100px;
      }

      .item {
        width: 180px;
        .container {
          width: 75px;
          height: 75px;
        }
        .text {
          font-size: 20px;
          margin-left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .knowledge {
    padding: 100px 20px;
    .content {
      .knw_title {
        font-size: 32px;
      }
      .knowledge-container {
        row-gap: 75px;
      }
      .item {
        width: 100px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container {
          width: 100px;
          height: 100px;
        }

        .text {
          font-size: 14px;
          margin-left: 0px;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 270px) {
  .knowledge {
    .content {
      .knw_title {
        font-size: 24px;
      }

      .subtitle {
        font-size: 14px;
      }
      .knowledge-container {
        column-gap: 10px;
        row-gap: 50px;
      }
      .item {
        width: 75px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container {
          width: 75px;
          height: 75px;
        }

        .text {
          font-size: 14px;
          margin-left: 0px;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}
