@import '../Vars.scss';

.oneproject {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  padding: 0px 100px;

  .content {
    max-width: 1440px;
    display: flex;
    flex-direction: column;

    
  }
}

.frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  .copy {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 40px;
  }

  .image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      object-fit: contain;
      width: 90%;
      height: 90%;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
    .copy {
      text-align: right;
    }
    .image {
      justify-content: flex-start;
    }
  }
}
