@import '../Vars.scss';

.projects {
  width: 100vw;
  margin: 0;
  background-color: $black;
  color: $white;
  padding-top: 300px;
  padding-bottom: 100px;
  padding: 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .sectitle {
      opacity: 0;
      color: $white;
      font-weight: bold;
      font-size: 42px;
      margin-bottom: 200px;
    }

    .viewall {
      text-decoration: none;
      align-self: flex-end;
      color: $white;
      font-weight: bold;
      font-size: 42px;
      margin-top: 200px;
    }

    .projects_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pr_content {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &.mcdo {
          margin-bottom: 300px;
          .text {
            text-align: right;
            align-items: flex-end;
          }

          .image {
            img {
              transform: translateY(150%);
            }
          }
        }

        .text {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          text-align: left;
          max-width: 500px;
          .project_text_container {
            color: $black;
            .prtitle {
              font-size: 42px;
              font-weight: bold;
              margin-bottom: 20px;
              opacity: 1;
              color: $white;
              .text_item {
                color: $white;
                opacity: 0;
              }
            }

            .subtitle {
              font-size: 24px;
              color: $grey;
              margin-bottom: 20px;
              .text_item {
                color: $grey;
                opacity: 0;
              }
            }

            .link {
              font-size: 14px;
              color: $white;
              text-decoration: none;
              .text_item {
                opacity: 0;
              }
            }
          }
        }

        .image {
          height: 100%;
          width: 45%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            transform: translateY(150%);
            // opacity: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .projects {
    padding: 150px 50px;

    .content {
      .sectitle {
        margin-bottom: 100px;
      }

      .viewall {
        margin-top: 100px;
      }
      .projects_container {
        .pr_content {
          height: 600px;

          &.mcdo {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    .content {
      .projects_container {
        .pr_content {
          height: 500px;
          &.mcdo {
            margin-bottom: 50px;
          }
          .text {
            .project_text_container {
              .prtitle {
                font-size: 32px;
              }

              .subtitle {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .projects {
    .content {
      .projects_container {
        .pr_content {
          height: 400px;

          &.mcdo {
            margin-bottom: 0px;
          }
          .text {
            max-width: 300px;
            .project_text_container {
              .prtitle {
                font-size: 24px;
              }

              .subtitle {
                font-size: 14px;
              }

              .link {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .projects {
    .content {
      .viewall {
        align-self: center;
        font-size: 24px;
        margin-top: 50px;
      }

      .projects_container {
        .pr_content {
          flex-direction: column-reverse;
          padding: 10px;

          &.mcdo {
            margin-bottom: 100px;

            flex-direction: column;

            .text {
              height: 50%;
              max-width: 300px;
              text-align: center;
              
            }
            .image{
              img{
                transform: translateY(0);
              }
            }
          }

          .text {
            height: 50%;
            max-width: 300px;
            text-align: center;
            justify-content: center;
              align-items: center;
          }

          .image {
            height: 50%;
            width: 100%;

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .projects {
    padding: 100px 20px;
    .content {
      .title {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .projects {
    .content {
      .sectitle {
        font-size: 24px;
      }
      .projects_container {
        .pr_content {
          .text {
            .project_text_container {
              .prtitle {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
