@import '../Vars.scss';

.timeline {
  width: 100vw;
  height: 800px;
  margin: 0;
  background-color: $black;
  color: $black;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;

    .tl_title {
      opacity: 0;
      color: $white;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 100px;
    }

    .line {
      width: 100%;
      height: 5px;
      position: absolute;
      top: 60%;
      left: -100%;
      background-color: $white;
    }

    .tl-content {
      width: 100%;
      height: 100%;
      position: relative;
      .trigger {
        width: 100%;
        height: 1px;
        position: absolute;
        top: calc(52% + 1px);
        background-color: transparent;

        .ybar {
          position: absolute;
          top: 50%;
          color: $white;
          height: 0px;
          width: 5px;
          background-color: $white;
          transform: rotatex(180deg);
          transform-origin: top;

          a:hover {
            ~ .popup {
              opacity: 1;
            }
          }
        }

        .img {
          pointer-events: none;
          opacity: 0;
          position: relative;
          top: 110%;
          z-index: 0;
          transform: rotatex(-180deg);
          width: 100px;
          height: 100px;
        }

        .text {
          position: relative;
          opacity: 0;
          top: -90px;
          left: 20px;
          transform: rotatex(180deg);
          width: 120px;
          font-weight: bold;
        }

        .uco {
          left: 25%;

          .img {
            left: -32px;
            width: 70px;
            height: 100px;
          }

          .popup {
            transform: rotatex(180deg);
            left: 75px;
          }
        }

        .clapfy {
          left: 50%;
          transform: rotatex(0deg);
          transform-origin: bottom;

          .img {
            transform: rotatex(0deg);
            left: -50px;
          }

          .text {
            transform: rotatex(0deg);
          }
        }

        .labora {
          left: 75%;

          .img {
            left: -50px;
          }
          .popup {
            transform: rotatex(180deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .timeline {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 1024px) {
  .popup {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .timeline {
    padding: 100px 20px;

    .content {
      .tl_title {
        font-size: 32px;
      }
      .tl-content {
        .trigger {
          .img {
            width: 50px;
            height: 50px;
            left: 50px;
          }
          .ybar {
            .text {
              font-size: 12px;
              position: absolute;
              width: 90px;
              top: -20px;
            }

            a.link {
              width: 10px;
            }
          }
          .uco {
            .img {
              width: 35px;
              height: 50px;
              left: -16px;
            }
            .text {
              left: -12px;
            }
          }
          .clapfy {
            .img {
              left: -25px;
            }
            .text {
              left: -42px;
            }
          }
          .labora {
            .img {
              left: -25px;
            }
            .text {
              left: -41px;
            }
          }
        }
      }
    }
  }
}
