@import '../Vars.scss';

.contactform {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form {
      font-family: 'Gothic';
      width: 100%;
      height: 70px;
      position: relative;
      margin-bottom: 50px;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        background-color: $black;
        padding-top: 20px;
        border: none;
        outline: none;
        font-size: 14px;
        color: $white;
        font-family: 'Gothic';
      }

      label {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 3px solid lighten($black, 10%);
      }

      label::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -3px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid lighten($accent, 30%);
        transform: translateX(-100%);
        transition: all 0.3s ease;
      }
      .content-name {
        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
      }
    }

    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name {
      transform: translateY(-150%);
    }

    .form input:focus + .label-name::after,
    .form input:valid + .label-name::after {
      transform: translateX(0%);
    }

    .submit {
      align-items: center;
      border: none;
      border-radius: 30px;
      background-color: lighten($accent, 10%);
      cursor: pointer;
      color: $black;
      display: flex;
      font-family: 'Gothic';
      font-size: 20px;
      justify-content: center;
      font-weight: bold;
      outline: none;
      line-height: 40px;
      position: relative;
      .msg {
        font-size: 72px;
        opacity: 0;
        position: absolute;
      }
    }
    .submit:hover {
      background: lighten($accent, 30%);
    }
  }
}
